.span:nth-child(1) {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: solid 0.6666666667px #000;
    box-shadow: 1.3333333333px 0.6666666667px 0.6666666667px -0.6666666667px black, 1.3333333333px 0.6666666667px 0.6666666667px -0.6666666667px black inset;
    margin-right: -30px;
    margin-left: 17px;
  }
  
  .span:nth-child(2) {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: solid 1.3333333333px #000;
    box-shadow: 2.6666666667px 1.3333333333px 1.3333333333px -1.3333333333px black, 2.6666666667px 1.3333333333px 1.3333333333px -1.3333333333px black inset;
    margin-right: -30px;
    margin-left: 17px;
  }
  
  .span:nth-child(3) {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: solid 2px #000;
    box-shadow: 4px 2px 2px -2px black, 4px 2px 2px -2px black inset;
    margin-right: -30px;
    margin-left: 17px;
  }
  
  .span:nth-child(4) {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    border: solid 2.6666666667px #000;
    box-shadow: 5.3333333333px 2.6666666667px 2.6666666667px -2.6666666667px black, 5.3333333333px 2.6666666667px 2.6666666667px -2.6666666667px black inset;
    margin-right: -30px;
    margin-left: 17px;
  }
  
  .span:nth-child(5) {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: solid 3.3333333333px #000;
    box-shadow: 6.6666666667px 3.3333333333px 3.3333333333px -3.3333333333px black, 6.6666666667px 3.3333333333px 3.3333333333px -3.3333333333px black inset;
    margin-right: -30px;
    margin-left: 17px;
  }
  
  .span:nth-child(6) {
    height: 120px;
    width: 120px;
    border-radius: 120px;
    border: solid 4px #000;
    box-shadow: 8px 4px 4px -4px black, 8px 4px 4px -4px black inset;
    margin-right: -30px;
    margin-left: 17px;
  }


    .firstring {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        border: solid 1.3333333333px rgb(228, 129, 38);
        box-shadow: 2.6666666667px 1.3333333333px 1.3333333333px -1.3333333333px black, 2.6666666667px 1.3333333333px 1.3333333333px -1.3333333333px black inset;
      }
      .goldenring {
        height: 200px;
        width: 200px;
        border-radius: 200px;
        border: solid 6.6666666667px yellow;
        box-shadow: 13.3333333333px 6.6666666667px 6.6666666667px -6.6666666667px black, 13.3333333333px 6.6666666667px 6.6666666667px -6.6666666667px black inset;
      }
